<?xml version="1.0" encoding="UTF-8" ?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- SPRING SECURITY CONFIGURATION -->
	<!-- enable use-expressions -->

	<http auto-config="true" use-expressions="true">

		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/**" access="permitAll" />
		<!-- access denied page -->


		<access-denied-handler error-page="/403" />


		<form-login login-page="/login" username-parameter="userName"
			password-parameter="password" login-processing-url="/j_spring_security_check"
			default-target-url="/index" authentication-failure-url="/login?error" />


		<logout logout-success-url="/login" />
		<!-- enable csrf protection -->
		<csrf disabled="true" />
	</http>

	<!-- -select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>

			<!-- <user-service> <user name="admin" password="12345" authorities="ROLE_ADMIN" 
				/> <user name="user" password="12345" authorities="ROLE_USER" /> </user-service> -->

			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select userName,password,enabled from USERBEAN where userName=?"
				authorities-by-username-query="select u1.userName, u2.Role from USERBEAN u1,Role u2 where u1.userName = u2.userName and u1.userName =?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>